body{
 font-family:'Roboto';
}
@-webkit-keyframes fadedown{
	0%{
        transform: translateY(-200px);
        opacity: 0;
	}
	100%{
         transform: translateY(0px);
        opacity: 1;
	}
}
@-webkit-keyframes fadeup{
	0%{
        transform: translateY(200px);
        opacity: 0;
	}
	100%{
         transform: translateY(0px);
        opacity: 1;
	}
}
@-webkit-keyframes fadeleft{
	0%{
        transform: translateX(-200px);
        opacity: 0;
	}
	100%{
         transform: translateX(0px);
        opacity: 1;
	}
}
@-webkit-keyframes faderight{
	0%{
        transform: translateX(200px);
        opacity: 0;
	}
	100%{
         transform: translateX(0px);
        opacity: 1;
	}
}
@-webkit-keyframes zoomin{
	0%{
        transform: scale(0.5);
        opacity: 0;
	}
	100%{
         transform: scale(1);
        opacity: 1;
	}
}
@-webkit-keyframes ShowRight{
	0%{
        transform: translateX(-300px);
        visibility: hidden;
	}
	100%{
         transform: translateX(0);
         visibility: visible;
	}
}
@-webkit-keyframes HideLeft{
	0%{
        transform: translateX(0);
        visibility: visible;
	}
	100%{
         transform: translateX(-300px);
         visibility: hidden;
	}
}
.col-md-6.text_about,.col-md-6.right_text_about{
	opacity: 0;
}
.effect-text-about,.effect-right-text-about{
  animation: fadeup 1.5s forwards;
   animation-delay: 0.2s;
}

.bonus{
	opacity: 0;
}
.zoom-in{
   animation: zoomin 1.5s forwards;
}
.block_btn .col-md-4.col-sm-4.col-xs-12:nth-of-type(1) .bonus{
	animation-delay: 0.2s;
}
.block_btn .col-md-4.col-sm-4.col-xs-12:nth-of-type(2) .bonus{
	animation-delay: 0.4s;
}
.block_btn .col-md-4.col-sm-4.col-xs-12:nth-of-type(3) .bonus{
	animation-delay: 0.6s;
}
.block_btn_last .col-md-4.col-sm-4.col-xs-12:nth-of-type(1) .bonus{
	animation-delay:0.8s;
}
.block_btn_last .col-md-4.col-sm-4.col-xs-12:nth-of-type(2) .bonus{
	animation-delay: 1s;
}
#roadmap li{
   opacity: 0;
}
.effect-roadmap-left{
	animation: fadeleft 0.5s forwards;
}
.effect-roadmap-right{
	animation: faderight 0.5s forwards;
}
/* #roadmap li:nth-child(1){
	animation-delay: 0.2s;

}
#roadmap li:nth-child(2){
	animation-delay: 0.6s;
}
#roadmap li:nth-child(3){
	animation-delay: 1s;
}
#roadmap li:nth-child(4){
	animation-delay: 1.4s;
}
#roadmap li:nth-child(5){
	animation-delay: 1.6s;
	
}
#roadmap li:nth-child(6){
	animation-delay: 2.2s;

}
#roadmap li:nth-child(7){
	animation-delay: 2.6s;
}
#roadmap li:nth-child(8){
	animation-delay: 3s;
} */

.show-to-right{
	animation: ShowRight 0.8s forwards;
}
.hide-to-left{
	animation: HideLeft 0.8s forwards;
}


